.App {
  text-align: center;
  color: white;
}

.background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.App-header {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  margin-top: 10vh; /* Adjusted for better mobile view */
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #61dafb;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #21a1f1;
}

.planet-info {
  margin-top: 20px;
}

.planet-image {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
}

.photo-container {
  margin-top: 20px;
  text-align: center;
}

.profile-photo {
  width: 150px;
  border-radius: 50%;
}

.contact-info {
  margin-top: 20px;
  font-size: 1.2em;
}

@media (max-width: 768px) {
  .App-header {
    margin-top: 5vh;
    padding: 15px;
  }

  input, button {
    width: 80%;
    margin-top: 5px;
  }

  .planet-image {
    max-width: 80%;
  }

  .photo-container {
    margin-top: 10px;
  }

  .profile-photo {
    width: 100px;
  }
}
